<div class="container">   
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Add User</h5>
          <hr />
          <form [formGroup]="userForm">
            <div class="form-group">            
              <label for="firstName">First Name :</label>
              <input type="text" formControlName="firstName" class="form-control addTxt" />

            </div>
            <div class="form-group">
              <label for="lastName">Last Name :</label>
              <input type="text" formControlName="lastName" class="form-control addTxt" />

            </div>
            <div class="form-group">
              <label for="username">Username :</label>
              <input type="text" formControlName="userName" class="form-control addTxt" />

            </div>
            <div class="form-group">
              <label for="password">Password :</label>
              <input type="password" formControlName="password" class="form-control addTxt" />
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password :</label>
              <input type="password" formControlName="confirmPassword" class="form-control addTxt" />

            </div>
            <div class="form-group">
              <label for="isActive">isActive :</label>
              <input type="checkbox" formControlName="isActive" class="form-control addTxt" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" (click)="addUser()" [ngClass]="{'disabled': !userForm.valid}" [disabled]="!userForm.valid">
                Add
              </button>
              <button (click)="reset()" class="btn btn-link">Cancel</button>
            </div>
          </form>
          <div><h4>User Information</h4></div>
          <hr />
          <div>
            <table border="1" class="mat-table" width="100%">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>isActive</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of userList">
                  <td>{{item.userName}}</td>
                  <td>{{item.firstName}}</td>
                  <td>{{item.lastName}}</td>
                  <td>{{item.isActive}}</td>
                </tr>
                <tr *ngIf="userList.length==0">
                  No user added
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
   
  </div>
