.modal-footer {
	padding: 10px;
    margin-top: -10px;
}

.modal-content {
	border-radius: 6px !important;
	z-index: 1;
}

.modal-dialog {
	width: 500px;
}

create-email-dialog .modal-dialog {
	padding-top:2%;
    right: 15%;
	width: 1000px;
}

.modal-dialog confirm-dialog .modal-dialog {
	width: 400px;
    top: 25%;
    position: relative;
    left: 0px;
    border:none;
}

confirm-dialog .modal-dialog {
	width: 400px;
    border:none;
}

project-dialog .modal-dialog {
	width: fit-content;
}

user-dialog .modal-dialog {
	width: 1120px;
}

group-dialog .modal-dialog {
	width: 950px;
}

login-component .modal-dialog {
	width: 800px;
}

trade-activity-log-dialog .tradeView .modal-dialog {
	padding-top:10%;
	width: 1000px;
}


.modalbutton {
	background-color: #009999;
	outline-offset: 1px;
	color: #FFFFFF;
	vertical-align: central;
	text-align: start;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

.modal-body {
	padding-bottom: 0px;
    padding-top: 10px;
}