<mat-toolbar color="primary" class="navbar-header">
  <mat-toolbar-row class="mat-toolbar-row-header">
    <span>
      <img routerLink="/" [src]="constants.imageUrls.projectInsightImageUrl"
           alt="">
    </span>
    <span class="pyramid-logo">
      <img [src]="constants.imageUrls.pyramidLogoImageUrl"
           alt="">
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<angular-loader></angular-loader>
<router-outlet></router-outlet>
<footer class="projectInsight-footer">
  <div class="projectInsight-footer-list">
    <div class="projectInsight-footer-logo">
      <img [src]="constants.imageUrls.projectInsightLogoImageUrl" class="footer-projectInsight-logo" />
      <span class="projectInsight-footer-logo-detail">Pyramid Project Insight</span>
    </div>
    <div class="projectInsight-footer-version">
      <span>Current Version: 1.0</span>
    </div>
    <div class="projectInsight-footer-copyright">
      <span>Powered by Marvel Team ©2018.</span>
    </div>
  </div>
</footer>

