<mat-toolbar color="primary" class="navbar-header">
  <mat-toolbar-row>
    <h1>Pyramid Project Insight</h1>
    <div class="menu-spacer">
      <a mat-button [routerLink]="'/manage-user'"> Manage User </a>
      <a mat-button [routerLink]="'/manage-projects'"> Manage Projects</a>
      <a mat-button [routerLink]="'/manage-client'"> Manage Clients </a>
    </div>
</mat-toolbar-row></mat-toolbar>

<angular-loader></angular-loader>
<router-outlet></router-outlet>
<footer class="projectInsight-footer">
  <div class="projectInsight-footer-list">
    <div class="projectInsight-footer-logo">
      <img [src]="constants.imageUrls.projectInsightLogoImageUrl" class="footer-projectInsight-logo" />
      <span class="projectInsight-footer-logo-detail">Pyramid Project Insight</span>
    </div>
    <div class="projectInsight-footer-version">
      <span>Current Version: 1.0</span>
    </div>
    <div class="projectInsight-footer-copyright">
      <span>Powered by Marvel Team ©2020.</span>
    </div>
  </div>
</footer>

